<div class="alarm-expression">

    <div class="row expression-details">
        <div class="col-md-2">
            <select id="function"
                    class="form-control"
                    aria-label="{$ 'Function'|translate $}"
                    title="{$ 'Function'|translate $}"
                    ng-model="vm.model.fun"
                    ng-options="f[0] as f[1] for f in vm.functions"
                    ng-change="vm.updateExpression()"></select>
        </div>
        <div class="col-md-6">
            <select id="metric-chooser"
                    class="form-control"
                    aria-label="{$ 'Metric'|translate $}"
                    title="{$ 'Metric'|translate $}"
                    ng-model="vm.model.metric"
                    ng-options="metric.name for metric in vm.metrics|monUniqueMetric|orderBy:'name'"
                    ng-change="vm.reset(); vm.onMetricChanged(vm.model.metric); vm.updateExpression()"></select>
        </div>
        <div class="col-md-2">
            <select class="form-control"
                    title="{$ 'Comparator'|translate $}"
                    aria-label="{$ 'Comparator'|translate $}"
                    data-toggle="tooltip"
                    data-placement="right"
                    ng-model="vm.model.cmp"
                    ng-options="f[0] as f[1] for f in vm.comparators"
                    ng-change="vm.updateExpression()"></select>
        </div>
        <div class="col-md-2">
            <input type="number"
                   step="any"
                   class="form-control"
                   aria-label="{$ 'Threshold'|translate $}"
                   title="{$ 'Threshold'|translate $}"
                   ng-model="vm.model.threshold"
                   ng-change="vm.updateExpression()"/>
        </div>
    </div>

    <div class="row expression-details">
        <div class="col-md-10">
            <tags-input id="dimension-chooser"
                    ng-model="vm.tags"
                    placeholder="{$ 'Add a dimension'|translate $}"
                    add-from-autocomplete-only="true"
                    on-tag-added="vm.onDimensionsUpdated(); vm.updateExpression()"
                    on-tag-removed="vm.onDimensionsUpdated(); vm.updateExpression()">
                <auto-complete source="vm.possibleDimensions($query)"
                               max-results-to-show="30"
                               min-length="1">
                </auto-complete>
            </tags-input>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label id="is-deterministic-expression"
                       class="btn expression-deterministic"
                       ng-class="{'btn-primary': vm.model.deterministic, 'btn-default': !vm.model.deterministic}"
                       ng-click="vm.model.deterministic = !vm.model.deterministic; vm.updateExpression()"
                       ng-model="vm.model.deterministic" translate>Deterministic</label>
            </div>
        </div>
    </div>

    <div class="row expression-details">
        <div class="topologyBalloon" id="metrics" style="position:static;display: block;">
            <div class="contentBody">
                <table class="detailInfoTable">
                    <caption translate>Matching Metrics</caption>
                    <tbody>
                    <tr>
                        <th translate>name</th>
                        <th translate>dimensions</th>
                    </tr>
                    <tr ng-repeat="metric in vm.matchingMetrics track by $id(metric)">
                        <td>{$ metric.name $}</td>
                        <td style="white-space:normal">{$ metric.dimensions | json $}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
