{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Alarm History' %}{% endblock %}

{% block page_header %}
    <div class="page-header">
      <h2>{% trans 'Alarm History' %}</h2>
    </div>
   <h4>{% trans "Alarm Details" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ alarm.alarm_definition.name|default:_("None") }}</dd>
    {% for metric in alarm.metrics %}
    <dt>{% trans "Metric Name"  %} {{forloop.counter}}</dt>
    <dd>{{ metric.name }}</dd>
    {% endfor %}
  </dl>

{% endblock page_header %}

{% block main %}

    <div class="btn-group">
        <button id="timestampFormatDropdownAlarmHistory"
                class="btn btn-default dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
            {% trans "Timestamp format" %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="timestampFormatDropdownAlarmHistory">
            {% for key,label in timestamp_formats %}
            <li><a href="?ts_mode={{ key }}" title="{{ label }}">{{ label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {{ table.render }}

<div class="pagination">
    <span class="step-links">
        {% if page_offset %}
            <a href="?page_offset={{ page_offset}}" class="btn btn-default btn-sm" style="position:relative;top:-35px;">Next Page</a>
        {% endif %}
    </span>
</div>
<style>
.status-icon {
  vertical-align: top;
  margin-right: 2px;
}
</style>
<script type="text/javascript">
$(function(){

    var current_offset = timezoneOffset();

    $('#timestampFormatDropdownAlarmHistory')
        .next()
        .find('li a')
        .each(appendTsOffset);

    function appendTsOffset(index, el){
        var href_val;

        el = $(el)
        href_val = el.attr('href')

        href_val = href_val
            + '&ts_offset='
            + encodeURIComponent(current_offset);

        el.attr('href', href_val)
    }

    function timezoneOffset() {
        var offset = new Date().getTimezoneOffset();
        var minutes = Math.abs(offset);
        var hours = Math.floor(minutes / 60);
        var prefix = offset < 0 ? "+" : "-";
        return prefix + hours;
    }

})
</script>
{% endblock %}

