{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Alarms' %}{% endblock %}

{% block page_header %}
  {% if service != 'all'%}
    <div class="page-header">
      <h2>{% trans 'Alarms for ' %} {{ service }}</h2>
    </div>
   {% else %}
  {% include "horizon/common/_page_header.html" with title="All Alarms" %}
  {% endif %}
{% endblock page_header %}

{% block main %}
    {{ table.render }}
<style>
.status-icon {
  vertical-align: top;
  margin-right: 2px;
}
</style>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number}} of {{ contacts.paginator.num_pages }}
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
